/*
* add by hank on 2017-03-29
* css-modules
* local:{variable.active}
* global:"active"
*/
.active {
  color: red !important;
}
:global(.active){
	color:blue !important;
}

.siderWidth{
	width: 240px
}