/*
* add by hank on 2017-03-29
* css-modules
* local:{variable.active}
* global:"active"
*/
.active {
  color: red !important;
}
:global(.active){
	color:blue !important;
}

.siderWidth{
	width: 240px
}
.dot {
    background-color: #6cc788;
    position: absolute;
    left: 50px;
    width: 10px;
    height: 10px;
    margin-top: 40px;
    border-width: 2px;
    border-style: solid;
    border-radius: 100%;
    border-color: #fff;
}