<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>hank</title>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
 --></head>
<body style="background-color: gray">
<div id="header"></div>
<div>
	<div id="sidebar">dfgdfg</div>
  	<div id="content" style=""></div>
</div>
<div id="footer"></div>

</body>
</html>